.list {
  margin-bottom: 25px;
  max-height: 400px;
  overflow: hidden;
  &__add-button {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }


  li {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 3px;

    &:hover{
      background: rgba(255,255,255,0.3);
    }

    &.active {
      background: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }
    .badge {
      position: relative;
      left: 5px;
    }

    i {
      display: inline-flex;
      margin-right: 10px;
      img {
        opacity: 0.6;
      }
    }
    span {
      padding-top: 1px;
    }
  }
}
