.tasks {
  &__title {
    font-family: "Montserrat", sans-serif;
    color: #64c4ed;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 1px;

    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;

    &:hover {
      img {
        opacity: 0.2;
      }
    }
    img {
      opacity: 0;
      margin-left: 7px;
      cursor: pointer;

      &:hover {
        opacity: 0.8 !important;
      }
    }
  }
  .checkbox {
    input:checked + label {
      background-color: #4dd599;
      border-color: #4dd599;

      svg {
        opacity: 1;
        path {
          stroke: #fff;
        }
      }
    }
    &:hover {
      label {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        svg {
          opacity: 1;
          path {
            stroke: #b2b2b2;
          }
        }
      }
    }

    input {
      display: none;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #e8e8e8;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      cursor: pointer;

      svg {
        opacity: 0;
      }
    }
  }
  &__items {
    margin-top: 30px;
    &-row {
      display: flex;
      align-items: center;

      p {
        margin-left: 15px;
      }
    }
  }
}
