* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #e2dede;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  font-size: 14px;
  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    border-right: 1px solid #f1f1f1;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
}

.todo__tasks{
  flex: 1;
  padding: 60px;
  overflow: auto;

  
}

.field{
width: 100%;
height: 32px;
background: #FFFFFF;
border: 1px solid #EFEFEF;
border-radius: 4px;
padding: 8px 12px;
font-size: 14px;

&:focus{
  border-color: #9b9eca;
}

}

.button {
  // width: 100%;
  height: 34px;
  background-color: #4DD599;
  color: #FFFFFF;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  
  &:hover{
    background-color: darken(#4DD599, 7%);
  }
  &:active{
    background-color: darken(#4DD599, 15%);
  }
  &-add-task{
    width: 145px;
  }
  &-decline{
    width: 90px;
    margin-left: 10px;
    background-color: #F4F6F8;
    color: #9C9C9C;
    &:hover{
      background-color: darken(#F4F6F8, 10%);
      color: white;
    }
  }
  &:disabled{
    background-color: #dadada;
  }
  
}


